<div id="statusbar" style="background-color: rgba(213, 22, 22, 0.844);">
    <h1><%=error[0]%></h1>
    <i id="statusbarRemoveBtn" class="fa-solid fa-circle-xmark" style="color: #169235;"></i>
  </div>