<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/adminErrorPage.css">
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <h2>Oops! Some Error Occured</h2>
        <p><%=errorMessage%></p>
        <a href="<%=redirect%>" class="home-button">Go Back Home</a>
    </div>
</body>
</html>
