<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminSigninPage.css">
</head>

<body>
    <div id="adminSigninPageMainContainer">
        <div id="adminSigninPageMainInnerContainer">
        <div id="adminSigninPageImgContainer">
            <img src="/assets/adminSignupPageBgImg.jpg" alt="image">
        </div>
        <div id="adminSigninPageFormContainer">
            <form id="adminSigninForm" action="/admin/password/forget/opt" method="post">
                <div class="adminFormControls">
                    <label for="">Email Id</label>
                    <input type="email" name="email" placeholder="Enter your Email ID" required>
                </div>
                <button class="adminSigninBtn" type="submit">Send OTP</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>