<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminSigninPage.css">
</head>

<body>
    <div id="adminSigninPageMainContainer">
        <div id="adminSigninPageMainInnerContainer">
        <div id="adminSigninPageImgContainer">
            <img src="/assets/adminSignupPageBgImg.jpg" alt="image">
        </div>
        <div id="adminSigninPageFormContainer">
            <form id="adminSigninForm" action="/admin/">
                <p>Sign up</p>
                <div class="adminFormControls">
                    <label for="">Email address</label>
                    <input type="email" placeholder="Enter your email">
                </div>
                <div class="adminFormControls">
                    <label for="">Mobile number</label>
                    <input type="number" placeholder="Enter your number">
                </div>
                <div class="adminFormControls">
                    <label for="">Password</label>
                    <input type="password" placeholder="Enter your password">
                </div>
                <div class="adminForgetPasswordformControls">
                    <a href="#">Forget Password</a>
                </div>
                <button class="adminSigninBtn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>