<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminSigninPage.css">
</head>

<body>
    <div id="adminSigninPageMainContainer">
        <div id="adminSigninPageMainInnerContainer">
        <div id="adminSigninPageImgContainer">
            <img src="/assets/adminSignupPageBgImg.jpg" alt="image">
        </div>
        <div id="adminLandingPageMainContainer">
            <div>
                <a href="/admin/signin" class="adminSigninBtn">Sign in</a>
                <a href="/admin/signup" class="adminSigninBtn">Sign up</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>