<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminSigninPage.css">
</head>

<body>
    <div id="adminSigninPageMainContainer">
        <div id="adminSigninPageMainInnerContainer">
        <div id="adminSigninPageImgContainer">
            <img src="/assets/adminSignupPageBgImg.jpg" alt="image">
        </div>
        <div id="adminSigninPageFormContainer">
            <form id="adminSigninForm" action="/admin/<%=email%>/password/change" method="post"
                onsubmit="return validatePassword()">
                <div class="adminFormControls">
                    <label for="">Enter New Password</label>
                    <input type="password" name="password1" placeholder="Enter New Password" id="pass1" required>
                </div>
                <div class="adminFormControls">
                    <label for="">Confirm Password</label>
                    <input type="password" name="password2" placeholder="Confirm Password" id="pass2" required>
                </div>
                <button class="adminSigninBtn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    function validatePassword() {
        const pass1 = document.querySelector('#pass1').value;
        const pass2 = document.querySelector('#pass2').value;
        if (pass1 != '' || pass2!='') {
            if (pass1 == pass2) {
                return true;
            } else {
                alert("Please Enter The Correct Password!");
                return false;
            }
        } else {
            alert("Please Enter The Correct Password!");
            return false;
        }

    }
</script>
</body>

</html>