<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminSigninPage.css">
    <link rel="stylesheet" href="/css/adminStatusbar.css">
</head>

<body>  <%if(success && success.length>0){%>
    <%- include('./includes/successStatusbar.ejs') %>
    <%}%>
      <%if(error && error.length>0){%>
        <%- include('./includes/errorStatusbar.ejs') %>
        <%}%>
    <div id="adminSigninPageMainContainer">
        <div id="adminSigninPageMainInnerContainer">
        <div id="adminSigninPageImgContainer">
            <img src="/assets/adminSignupPageBgImg.jpg" alt="image">
        </div>
        <div id="adminSigninPageFormContainer">
            <form id="adminSigninForm" action="/admin/signin" method="post">
                <p>Sign in</p>
                <div class="adminFormControls">
                    <label for="">Mobile number</label>
                    <input type="number" name="mobileNumber" placeholder="Enter your mobile number" required>
                </div>
                <div class="adminFormControls">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="adminForgetPasswordformControls">
                    <a href="/admin/password/forget" style="position: relative; margin-right: 5px;">Forget Password</a>
                    <a href="/admin/signup" style="position: relative;">| Sign Up</a>
                </div>
                <button class="adminSigninBtn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
<script src="/js/statusbar.js"></script>
</body>

</html>