<% layout('./boilerplates/layout') %>

    <body onload="loadCartMenusAndUpdateTotalItemPrice()">
        <div id="heroSection">
            <p>your selected</p> 
            <p>Menu's</p>
        </div>
        <div id="categoryMenuListMainContainer" class="cartPaneMainContainer">
            <!-- <div class="categoryMenuListBox cartPageMenuListBox " itemNo="0" menuId="101">
                <a class="categoryMenuListInnerBox1" href="12">
                    <img src="/assets/corn.jpg" alt="">
                </a>
                <div class="categoryMenuListInnerBox2">
                    <a class="categoryMenuListBoxMenuInfo" href="12">
                        <p class="categoryMenuListBoxMenuTitle">Corn Plate <img src="/assets/veg.png" alt="veg" width="40px" style="margin-left: 5px; margin-top: 5px; display: block;"> <img src="/assets/nonVeg.png" alt="veg" width="40px" style="margin-left: 5px; margin-top: 5px; display: none;"></p>
                        <p class="categoryMenuListBoxMenuDescription">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nulla adipisci....
                        </p>
                    </a>
                    <div class="cartPagePriceContainer">
                        <div>
                            <input type="radio" name="price0" value="150" class="cartPageFUllPrice" checked>
                            <span>150/Full</span>
                        </div> 
                        <div>
                            <input type="radio" name="price0" value="80" class="cartPageHalfPrice">
                            <span>80/Half</span>
                        </div>
                    </div>
                    <div class="cartPageCookingRequestBox"> 
                        <input type="text" name="cookingRequest" placeholder="cooking request if any">
                    </div>
                    <div class="categoryMenuListBoxMenuPriceSection">
                        <div>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span class="cartPageQntyPrice"
                                itemPrice="150">150</span>
                        </div>
                        <div class="cartPageQntyController">
                            <span><i class="fa-solid fa-square-minus decrementQntyBtn"></i></span>
                            <span class="qnty" qnty="1">1</span>
                            <span><i class="fa-solid fa-square-plus incrementQntyBtn"></i></span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div id="tableNoContainer">
            <label for="">
                Select Table Number 
            </label>
            <select name="tableNo" id="tableNo">
                <option value="0">Home</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div id="placeOrderContainer">
            <p id="TotalItemPrice">Total : <i class="fa-solid fa-indian-rupee-sign"></i><span>1200</span></p>
            <button id="placeOrderBtn">Place Orders</button>
        </div>
        <script>
            let user = <%-JSON.stringify(user)%>
        </script>
    </body>