<% layout('./boilerplates/layout') %>
<body>
    <div id="heroSection">
        <p>select</p>
        <p>Category's</p>
    </div>
    <!-- <%- include('./includes/searchbar.ejs') %> -->
    <div id="categoryOptionsMainContainer">
        <a href="/user/category/pizza" class="categoryBox categoryOptionsBox">
            <div>
                <img src="/assets/pizza.png" alt="">
            </div>
            <div>
                <p>Pizza</p>
            </div>
        </a> 
        <a href="/user/category/pizza" class="categoryBox categoryOptionsBox">
            <div>
                <img src="/assets/burger.png" alt="">
            </div>
            <div>
                <p>Burger</p>
            </div>
        </a> 
        <a href="/user/category/pizza" class="categoryBox categoryOptionsBox">
            <div>
                <img src="/assets/drink.png" alt="">
            </div>
            <div>
                <p>Drink</p> 
            </div>
        </a> 
        <a href="/user/category/pizza" class="categoryBox categoryOptionsBox">
            <div>
                <img src="/assets/sandwichh.png" alt="">
            </div>
            <div>
                <p>Drink</p>
            </div>
        </a> 
    </div>
</body> 