<% layout('./boilerplates/layout') %>

    <body>
        <div id="signupPageMainContainer">
            <div id="signupPageLogoAndTitleContainer">
                <p></p>
                <p>Joy<span style="color: #F5C113;">Food</span></p>
            </div><hr>
            <form id="signupForm" action="/user/password/forget/opt" method="post">
                <div class="formControls">
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>
                <button class="signupBtn" type="submit">Send OTP</button>
            </form>
        </div>
    </body>