<% layout('./boilerplates/layout') %>

    <body>
        <div id="heroSection">
            <p>Delicious</p>
            <p>Food menu</p>
        </div>
        <%- include('./includes/searchbar.ejs') %>
        <div id="categorySection">
            <p class="subHeading">Category</p>
            <div>
                <a href="/category/pizza" class="categoryBox">
                    <div>
                        <img src="/assets/pizza.png" alt="">
                    </div>
                    <div>
                        <p>Pizza</p>
                    </div>
                </a> 

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div>
                        <p>Burger</p>
                    </div>
                </a>

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/sandwichh.png" alt="">
                    </div>
                    <div>
                        <p>sandwich</p>
                    </div>
                </a>

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/drink.png" alt="">
                    </div>
                    <div>
                        <p>Drink</p>
                    </div>
                </a>

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/pizza.png" alt="">
                    </div>
                    <div>
                        <p>Pizza</p>
                    </div>
                </a> 

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div>
                        <p>Burger</p>
                    </div>
                </a>

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/sandwichh.png" alt="">
                    </div>
                    <div>
                        <p>sandwich</p>
                    </div>
                </a>

                <a href="12" class="categoryBox">
                    <div>
                        <img src="/assets/drink.png" alt="">
                    </div>
                    <div>
                        <p>Drink</p>
                    </div>
                </a>
            </div>
        </div>
        <div id="popularSection">
            <p class="subHeading">Best Selling</p>
            <div id="popularSectionMainContainer">
                <div class="popularSectionMenuItemBox">
                    <a href="/menu/fryRice">
                        <div class="likeSection">
                            <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                            <span>34</span>
                        </div>
                        <div class="imageSection">
                            <img src="/assets/paneer.jpg" alt="img">
                        </div>
                        <div class="itemDescriptionSection">
                            <p>Fry Paneer</p>
                        </div>
                    </a>
                    <div class="priceSection">
                        <span class="addToCartBtn">
                            <i class="fa-solid fa-plus" cart="removed"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                        </span>
                    </div>
                </div>
                <div class="popularSectionMenuItemBox">
                    <a href="#">
                        <div class="likeSection">
                            <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                            <span>34</span>
                        </div>
                        <div class="imageSection">
                            <img src="/assets/corn.jpg" alt="img">
                        </div>
                        <div class="itemDescriptionSection">
                            <p>Fry Paneer</p>
                        </div>
                    </a>
                    <div class="priceSection">
                        <span class="addToCartBtn">
                            <i class="fa-solid fa-plus" cart="removed"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                        </span>
                    </div>
                </div>
                <div class="popularSectionMenuItemBox">
                    <a href="#">
                        <div class="likeSection">
                            <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                            <span>34</span>
                        </div>
                        <div class="imageSection">
                            <img src="/assets/dal.jpg" alt="img">
                        </div>
                        <div class="itemDescriptionSection">
                            <p>Fry Paneer</p>
                        </div>
                    </a>
                    <div class="priceSection">
                        <span class="addToCartBtn">
                            <i class="fa-solid fa-plus" cart="removed"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                        </span>
                    </div>
                </div>
                <div class="popularSectionMenuItemBox">
                    <a href="#">
                        <div class="likeSection">
                            <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                            <span>34</span>
                        </div>
                        <div class="imageSection">
                            <img src="/assets/paneer.jpg" alt="img">
                        </div>
                        <div class="itemDescriptionSection">
                            <p>Fry Paneer</p>
                        </div>
                    </a>
                    <div class="priceSection">
                        <span class="addToCartBtn">
                            <i class="fa-solid fa-plus" cart="removed"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                        </span>
                    </div>
                </div>
                <div class="popularSectionMenuItemBox">
                    <a href="#">
                        <div class="likeSection">
                            <i class="fa-solid fa-heart" style="color: #ff0033;"></i>
                            <span>34</span>
                        </div>
                        <div class="imageSection">
                            <img src="/assets/paneer.jpg" alt="img">
                        </div>
                        <div class="itemDescriptionSection">
                            <p>Fry Paneer</p>
                        </div>
                    </a>
                    <div class="priceSection">
                        <span class="addToCartBtn">
                            <i class="fa-solid fa-plus" cart="removed"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body> 