<% layout('./boilerplates/layout') %>
<body>
   <div id="landingPageMainContainer">
        <div id="landingPageImgContainer">
            <img src="/assets/chef.png" alt="">
        </div>
        <div id="landingPageDescriptionContainer">
            <p>Joy<span style="color: #F5C113;">Food</span></p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod tenetur repudiandae exercitationem?</p>
        </div>
        <div id="landingPageBtnContainer">
             <a href="/signin"><button class="signupBtn">Sign in</button></a>
             <a href="/signup"><button class="signupBtn landingPagesignupBtn">Sign up</button></a>
        </div>
   </div>
</body> 