<% layout('./boilerplates/layout') %>
<body>
    <div id="heroSection">
        <p>current</p>
        <p>Order Status</p>
    </div>
    <div id="orderHistoryPageMainContainer">
        <div class="categoryMenuListBox">
            <div class="categoryMenuListInnerBox1">
                <img src="https://cdn.grofers.com/assets/search/usecase/banner/sweet_corn_pizza_01.png" alt="">
            </div>
            <div class="categoryMenuListInnerBox2">
                <div class="categoryMenuListBoxMenuInfo">
                    <p class="categoryMenuListBoxMenuTitle">Corn Pizza</p>
                    <p class="categoryMenuListBoxMenuDescription">Qnty : 3</p>
                </div> 
                <div class="categoryMenuListBoxMenuPriceSection">
                    <div>
                        <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                    </div>
                    <div>
                        <button class="orderPendingStatusBtn"  style="display: none;"><i class="fa-solid fa-clock"></i></button>
                        <button class="orderCompleteStatusBtn"><i class="fa-solid fa-circle-check"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="categoryMenuListBox">
            <div class="categoryMenuListInnerBox1">
                <img src="https://www.sustainablecooks.com/wp-content/uploads/2022/12/FS-Onion-Pizza-3-scaled.jpg" alt="">
            </div>
            <div class="categoryMenuListInnerBox2">
                <div class="categoryMenuListBoxMenuInfo">
                    <p class="categoryMenuListBoxMenuTitle">Onion Pizza</p>
                    <p class="categoryMenuListBoxMenuDescription">Qnty : 3</p>
                </div> 
                <div class="categoryMenuListBoxMenuPriceSection">
                    <div>
                        <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                    </div>
                    <div>
                        <button class="orderPendingStatusBtn"><i class="fa-solid fa-clock"></i></button>
                        <button class="orderCompleteStatusBtn" style="display: none;"><i class="fa-solid fa-circle-check"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="categoryMenuListBox">
            <div class="categoryMenuListInnerBox1">
                <img src="/assets/paneer.jpg" alt="">
            </div>
            <div class="categoryMenuListInnerBox2">
                <div class="categoryMenuListBoxMenuInfo">
                    <p class="categoryMenuListBoxMenuTitle">Fry Panner</p>
                    <p class="categoryMenuListBoxMenuDescription">Qnty : 3</p>
                </div> 
                <div class="categoryMenuListBoxMenuPriceSection">
                    <div>
                        <i class="fa-solid fa-indian-rupee-sign"></i><span>250</span>
                    </div>
                    <div>
                        <button class="orderPendingStatusBtn"><i class="fa-solid fa-clock"></i></button>
                        <button class="orderCompleteStatusBtn" style="display: none;"><i class="fa-solid fa-circle-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>