<% layout('./boilerplates/layout') %>

    <body>
        <div id="signupPageMainContainer">
            <div id="signupPageLogoAndTitleContainer">
                <p>Welcome to</p>
                <p>Joy<span style="color: #F5C113;">Food</span></p>
            </div>
            <form id="signupForm" action="/user/signin" method="post">
                <div class="formControls">
                    <label for="">Mobile No</label>
                    <input type="number" name="mobileNumber">
                </div>
                <div class="formControls">
                    <label for="">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="forgetPasswordformControls">
                    <a href="/user/password/forget">Forget Password</a>
                </div>
                <button class="signupBtn" type="submit">Sign in</button>
            </form>
        </div>
    </body>