* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --button-color: #F5C113;
    --background-color: #FAFAFC;
    --searchbox-bg-color: #FFFFFF;
    --menubox-bg-color: #FFFFFF;
    --bold-price-color: #BA704D;
    --text-color: #2F3438;
}

body {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
}

.cartPageMenuListBox{
    height: 360px !important;
} 

.cartPagePriceContainer{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cartPagePriceContainer > div{
    font-size: 2.5rem;
    display: flex;
    color: var(--text-color) !important;
}

.cartPagePriceContainer > div > input{
    width: 30px;
    margin-right: 5px;
}

.cartPageCookingRequestBox{
   margin: 10px 0px;
    width: 90%;
}

.cartPageCookingRequestBox > input{
    font-size: 2.5rem;
    width: 100%;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    outline: none;
    color: '#2F3438' !important; 
    border-radius: 5px;
}