*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --button-color:#F5C113;
    --background-color:#FAFAFC;
    --searchbox-bg-color:#FFFFFF;
    --menubox-bg-color:#FFFFFF;
    --bold-price-color:#BA704D;
    --text-color:#2F3438;
}

body{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
}

#heroSection{
   padding: 20px 30px;
}

#heroSection p:nth-child(1){
   font-size: 2.5rem;
   color:rgb(109, 109, 109);
}

#heroSection p:nth-child(2){
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 700;
}

/* search section

#seachSection{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#searchBox{
    width: 95%;
    margin: 10px auto;
    font-size: 3rem;
    background-color: var(--searchbox-bg-color);
    box-shadow: 0px 0px 5px rgb(130, 130, 130);
    padding: 30px 25px;
    border-radius: 20px;
} 

#searchBox > i{
    color: rgb(90, 90, 90);
}

#search{
    font-size: 2.5rem;
    color: var(--text-color);
    border: none;
    background-color: var(--searchbox-bg-color);
    padding-left: 10px;
    outline: none;
    width: 90%;
    height: 100%;
} */

/* category section  */

#categorySection{
    padding-bottom: 20px;
}

.subHeading{
    color: var(--text-color);
    font-size: 3rem;
    padding: 10px 30px;
    font-weight: 600; 
}

#categorySection > div {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    padding: 20px 35px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.categoryBox{
    background-color: var(--menubox-bg-color);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 2.5rem;
    padding: 35px 35px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(130, 130, 130);
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    text-decoration: none;
    color: var(--text-color);
}

.categoryBox:hover{
    background-color: var(--button-color);
    padding: 38px 38px;
}

.categoryBox img{
    width: 100px;
    height: 100px;
}

/* Popular Section */

#popularSection{
    padding-bottom: 20px;
    width: 100%;
}

#popularSectionMainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 30px;
    width: 100%;
    column-gap: 50px;
    row-gap: 30px;
    justify-content: flex-start;
}

.popularSectionMenuItemBox{
    background-color: var(--menubox-bg-color);
    width: 45%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgb(148, 148, 148);
    text-decoration: none;
}

.popularSectionMenuItemBox > a{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.popularSectionMenuItemBox  .likeSection{
align-self: flex-end;
font-size: 1.8rem;
padding-right: 10px;
}

.popularSectionMenuItemBox  .likeSection > span{
    color: var(--text-color);
    font-weight: 550;
}


.popularSectionMenuItemBox  .imageSection{
    width: 100%;
    height: 60%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popularSectionMenuItemBox  .imageSection > img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: auto; 
    position: relative;
}

.popularSectionMenuItemBox  .itemDescriptionSection{
    width: 100%;
    padding: 15px;
}

.popularSectionMenuItemBox  .itemDescriptionSection > p{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 550;
    text-align: center;
}

.popularSectionMenuItemBox  .priceSection{
position: absolute;
width: 100%;
bottom: 0;
font-size: 2.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.popularSectionMenuItemBox  .priceSection > span:nth-child(1){
   background-color: var(--button-color);
   width: 45%;
   padding: 20px 10px;
   text-align: center;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   color: var(--text-color); 
}

.popularSectionMenuItemBox  .priceSection > span:nth-child(2){
    padding-right: 15px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 550;
    color: var(--text-color);
} 