<!DOCTYPE html>
<html>

<head>
  <title>I'm the layout</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/cartPage.css">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="stylesheet" href="/css/landingPage.css">
  <link rel="stylesheet" href="/css/signupPage.css">
  <link rel="stylesheet" href="/css/categoryOptions.css">
  <link rel="stylesheet" href="/css/orderHistoryPage.css">
  <link rel="stylesheet" href="/css/individualMenuPage.css">
  <link rel="stylesheet" href="/css/categoryMenuList.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <section id="main">
    <%if(user){%>
      <%- include('../includes/navbar.ejs') %>
      <%}%>
      <%-body -%>
  </section>
  <script src="/js/utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/categoryMenuList.js"></script>
  <script src="/js/categoryMenuListSearchFeature.js"></script>
  <script src="/js/individualMenuPage.js"></script>
  <script src="/js/cartPage.js"></script>
  <script src="/js/orderHistoryPage.js"></script>
</body>

</html>